@page "/"
@using Microsoft.AspNetCore.Components
@using CheckMyDirs.Common.Models
@using System.Text.Json
@using System.Text
@using System.Net
@inject HttpClient Http


<PageTitle>CheckMyDir app</PageTitle>

<Headings />

<EditForm Model="@RequestDataDto" OnValidSubmit="@HandleValidSubmit">
    <CustomInputText id="name" @bind-Value="@RequestDataDto.Path" />
    <button class="invisible nano-btn" type="submit">Submit</button>
</EditForm>

<ResultArea Report="@Report" IsLoading="@IsLoading"/>

@code
{
    private FinalReportType? Report { get; set; }
    private RequestDataDto RequestDataDto { get; set; } = new();
    private bool IsLoading { get; set; } = false;
    
    private async Task HandleValidSubmit()
    {
        // if path is empty
        if (string.IsNullOrWhiteSpace(RequestDataDto.Path)) return;

        IsLoading = true;
        
        var dataDto = JsonSerializer.Serialize(RequestDataDto);
        var requestContent = new StringContent(dataDto, Encoding.UTF8, "application/json");
        
        var response = await Http.PostAsync("https://localhost:5001/", requestContent);
        
        response.EnsureSuccessStatusCode(); // TODO: Handle exception

        Report = await response.Content.ReadFromJsonAsync<FinalReportType>(
            new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });

        IsLoading = false;
        
        StateHasChanged(); 
    }
}
